.footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #FCFCFC;
  color: #202020;
  height: 4em;
}

.social {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 20em;
  padding-top: 0.5em;
  padding-left: 8em;
}

.github {
  width: 80%;
  height: 80%;
}

.linkedin {
  width: 40%;
  height: 40%;
}
