.allCategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #333;
  color: white;
}

.photoImage {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.category1 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.category {
  margin: 0 15px;
  cursor: pointer;
}

.burgerMenuImage {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  /* Masque le bouton burger sur les écrans larges */
}

/* Media query pour afficher le bouton burger sur les écrans étroits */
@media (max-width: 768px) {
  .burgerMenuImage {
    display: block;
  }

  .category1 {
    display: none;
    /* Masque la liste de catégories sur les écrans étroits */
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #333;
    width: 100%;
    height: 100vh;
  }

  .category {
    margin: 10px;
    font-size: 2em;
  }

  /* Affiche la liste de catégories lorsqu'on clique sur le bouton burger */
  .category1.menuOpen {
    display: flex;
  }

  /* Ajoute un effet de fondu lors de l'ouverture du menu burger */
  .category1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .category1.menuOpen {
    opacity: 1;
  }
}