.presentation {
  display: flex;
  flex-direction: row;
}

.chapeau {
  display: flex;
  padding-left: 50em;
  padding-top: 2em;
  width: 50%;
  height: 50%;
}

.titreAboutMe {
  border-bottom: 1px solid black;
  border-width: auto;
  width: 150px;
  padding-top: 0.5em;
}

.textPresentation {
  padding-top: 1.5em;
  font-size: 1.5em;
  font-weight: 500;
  width: 800px;
}

.textLanguage {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 3em;
  font-size: 1.8em;
}
